<!--
<div id="tier">
  <%= f.simple_fields_for :tiers do |tier| %>
    <%= render 'tier_fields', :f => task %>

  <div class='links'>
    <%= link_to_add_association 'add task', f, :tiers %>
  </div>
</div>



 -->


